<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GitHub" value="https://nuget.pkg.github.com/InfoInvest/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="USER" />
            <add key="ClearTextPassword" value="PAT" />
        </GitHub>
    </packageSourceCredentials>
</configuration>